body {
   background-image: url("mybackground.jpg");
   height: 1000px;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
}

table {
  background-color: #4c4b53;
  border: #4c4b53;
  width: 100%;
}

h1 {
   color: #ba7476;
}  

div {
   background-color: #ba7476;
   width: 100%;
}

p {
   width: 800px;
}

.btn1 {
left: 0%;
position: relative;
}
.btn2 {
left: 25%;
position: relative;
}
.btn3 {
left: 50%;
position: relative;
}
.btn4 {
left: 75%;
position: relative;
}
            
 
