body {
   background-color: #fafaf5;
   height: 1000px;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
}



table {
  background-color: #4c4b53;
  border: #4c4b53;
  border-collapse: collapse;
  width: 100%;
  min-width: 400px;
}

h1 {
   color: #ba7476;
}  

div {
   background-color: #ba7476;
   width: 100%;
   min-width: 400px;
	padding: 0px;
}

p {
	width: 800px;
	color: #625f65;
}


td {
	padding: 10px;
    border-left: solid 5px transparent;
    text-align: center;
    vertical-align: middle;
}
          
.about {
	background-color: #fafaf5;
	padding: 10px;
	color: #625f65;
	text-align: left;
	width: 800px;
	margin: 0 auto;
	border-width: 3px;
	border-style: solid;
	border-color: #625f65;
}

a:link, a:visited {
	color: #ba7476;
}



