h1 {
   color: rgb(0, 232, 15);
}  

body {
     background-color: rgb(97, 250, 255);
}
div {
   background-color: lightblue;
   width: 200px;
   padding: 25px;
   border: 25px solid navy;
}
            
 
